@import url('https://fonts.googleapis.com/css2?family=Asul:wght@700&family=Mansalva&display=swap');

:root {
  font: 16px / 1 'Asul', sans-serif;
}

body {
  background-color: rebeccapurple;
  color: whitesmoke;
}

h1 {
  font-family: 'Mansalva', cursive;
  color: aquamarine;
  font-size: 4em;
  text-align: center;
}

p::first-letter {
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 0.2rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

.red {
  background-color: red;
}

.polaroid {
  border-width: 1px;
  border-color: white;
  border-style: solid;
  padding: 20px 20px 80px;
  background-color: white;
  box-shadow: 0 0 25px #333;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  transition: transform 200ms ease-in-out;
}

.polaroid:hover {
  transform: rotate(4deg);
}

.polaroid a:link,
.polaroid a:visited {
  color: #40b0c3;
}

.polaroid a:focus,
.polaroid a:hover {
  color: red;
}

.polaroid a:active {
  color: pink;
}

.polaroid figcaption {
  position: absolute;
  color: #333;
  font-family: 'Mansalva', cursive;
  font-size: 2rem;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
